<nav class="hwfwm-tabs" data-group="primary">
  <a class="hwfwm-tab" data-tab="status">Status</a>
  <a class="hwfwm-tab" data-tab="traits">Traits</a>
  <a class="hwfwm-tab" data-tab="overview">Overview</a>
</nav>
