<div class="hwfwm-status">

  <!-- TOP: Attributes (full width) -->
  <div class="hwfwm-status__top">
    {{> "systems/hwfwm-system/templates/actor/tabs/status/attributes.hbs" }}
  </div>

  <!-- BOTTOM: Resources (left) + Defense (right) -->
  <div class="hwfwm-status__bottom">
    {{> "systems/hwfwm-system/templates/actor/tabs/status/resources.hbs" }}
    {{> "systems/hwfwm-system/templates/actor/tabs/status/defense.hbs" }}
  </div>

</div>
