<div class="hwfwm-status">

  <!-- TOP: Attributes (full width) -->
  <div class="hwfwm-status__top">
    {{> "systems/hwfwm-system/templates/actor/tabs/status/attributes.hbs" }}
  </div>

  <!-- FULL WIDTH: Resources (now contains Defense row too) -->
  <div class="hwfwm-status__top">
    {{> "systems/hwfwm-system/templates/actor/tabs/status/resources.hbs" }}
  </div>

</div>
