<div class="hwfwm-traits">

  <!-- Subtab Navigation -->
  <nav class="hwfwm-tabs hwfwm-tabs--sub" data-group="traits">
    <a class="hwfwm-tab is-active" data-tab="enhancements">Enhancements</a>
    <a class="hwfwm-tab" data-tab="features">Features</a>
  </nav>

  <!-- Subtab Content -->
  <section class="hwfwm-traits__body">

    <div class="tab is-active" data-tab="enhancements" data-group="traits">
      {{> "systems/hwfwm-system/templates/actor/tabs/traits/enhancements.hbs" }}
    </div>

    <div class="tab" data-tab="features" data-group="traits">
      {{> "systems/hwfwm-system/templates/actor/tabs/traits/features.hbs" }}
    </div>

  </section>

</div>
