{{!-- templates/actor/tabs/treasures.hbs --}}

<div class="hwfwm-card">
  {{> "systems/hwfwm-system/templates/actor/tabs/treasures/coins.hbs" }}

  {{> "systems/hwfwm-system/templates/actor/tabs/treasures/equipment.hbs" }}

  <section class="tab" data-group="treasures" data-tab="inventory">
    {{> "systems/hwfwm-system/templates/actor/tabs/treasures/inventory-equipment.hbs" }}

    {{> "systems/hwfwm-system/templates/actor/tabs/treasures/consumables.hbs" }}

    {{!-- Misc section intentionally removed while rebuilding misc items UI + config --}}
  </section>
</div>
