<div class="hwfwm-sheet__root">

  {{> "systems/hwfwm-system/templates/actor/parts/header.hbs" }}

  {{> "systems/hwfwm-system/templates/actor/parts/tabs-nav.hbs" }}

  <section class="hwfwm-sheet__body">

    <div class="tab" data-tab="overview" data-group="primary">
      {{> "systems/hwfwm-system/templates/actor/tabs/overview.hbs" }}
    </div>

    <div class="tab" data-tab="status" data-group="primary">
      {{> "systems/hwfwm-system/templates/actor/tabs/status.hbs" }}
    </div>

    <div class="tab" data-tab="traits" data-group="primary">
      {{> "systems/hwfwm-system/templates/actor/tabs/traits.hbs" }}
    </div>

    {{!-- Essence Tab --}}
    <div class="tab" data-tab="essence" data-group="primary">
      {{> "systems/hwfwm-system/templates/actor/tabs/essence.hbs" }}
    </div>

    {{!-- NEW: Treasures Tab --}}
    <div class="tab" data-tab="treasures" data-group="primary">
      {{> "systems/hwfwm-system/templates/actor/tabs/treasures.hbs" }}
    </div>

  </section>

</div>
