<div class="hwfwm-sheet__root">

  {{> "systems/hwfwm-system/templates/actor/parts/header.hbs" }}

  {{> "systems/hwfwm-system/templates/actor/parts/tabs-nav.hbs" }}

  <section class="hwfwm-sheet__body">
    <div class="tab" data-tab="overview">
      {{> "systems/hwfwm-system/templates/actor/tabs/overview.hbs" }}
    </div>

    <div class="tab" data-tab="attributes">
      {{> "systems/hwfwm-system/templates/actor/tabs/attributes.hbs" }}
    </div>
  </section>

</div>
